html body {
    margin: 12pt 1em 12pt 1em;
}
h1, h2 {
    margin-top: 12pt;
    margin-bottom: 12pt;
}
body, table, input, select, option {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 24pt;
}
h2 {
    font-size: 150%;
    color: #50A050;
}
a {
    color: #206020;
}
select {
    width: 20em;
}

#site-name {
    font-size: 180%;
    font-weight: bold;
}
#top-announce {
    font-size: 60%;
    text-align: right;
}
table#header {
    width: 100%;
}
table#header * {
    vertical-align: top;
}
#footer {
    margin-top: 48pt;
    border-top: 1px solid black;
    padding-top: 6pt;
    padding-bottom: 48pt;
    font-size: 50%;
}
#content {
    width: 68%;
}
table#invoice, table#seller {
    width: 100%;
}
table#invoice th, table#seller th {
    border-bottom: 1px solid black;
    font-size: 60%;
}
table#invoice th {
    text-align: center;
}
table#seller th {
    text-align: left;
}
table#invoice td {
    text-align: right;
    padding-top: 6pt;
}
table#invoice td:first-child, table#seller td {
    text-align: left;
    padding-top: 6pt;
}
#invoice-total {
    font-weight: bold;
    text-align: right;
    margin-top: 24pt;
}

a.modify-book {
    color: #5AC;
}
.book-description {
    margin-bottom: 12pt;
}
.book-price, .price {
    color: #A00000;
}
.book-author {
    font-size: 68%;
}